body{
    margin: 0;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 19px;
    color:black;
    line-height: 30px;
    background-color: dimgray;
}

header{
    background-color: midnightblue;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 1px;
}

h1, h2{
    font-family: 'Dosis', sans-serif;
}

header h1{
    color: silver;
    font-size: 38px;
}

header h2{
    color: silver;
    font-size: 28px;
}

header h3{
    color: firebrick;
    font-size: 19px;
}

header img{
    border-radius: 150px;
    border: 7px solid gray;
    max-width: 21%;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 27px;
    color: maroon;
    padding-top: 15px;
}

h3{
    font-size: 22px;
    color: midnightblue;
    padding-top: 3px;
}

h4{
    font-size: 30px;
    color: maroon;
    padding-top: 15px;
    text-align: center;
}

h5{
    font-size: 25px;
    color: midnightblue;
    padding-left: 25px;
    padding-top: 15px;
}

h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding-left: 25px;
}

p{
    padding-top: 10px;
    margin: 0;
}

a{
    color: navy;
}
a:hover{
    color: #483a94;
}

footer{
    background-color: midnightblue;
    text-align: center;
    color: silver;
    padding: 7px;
}

p.caption{
    color: midnightblue;
    font-style: italic;
    margin-bottom: 0;
}

*{

    margin: 0;
    padding: 0;

}

nav{
    width: 100%;
    height: 50px;
    background-color: midnightblue;
}

ul {

    text-align: center;
    margin: 0;

}

li{
    padding-left: 30px;
}

li a{
    color: black;
}

li a:hover{
    color: maroon;
}

ul li {

    list-style: none;
    display: inline-block;
    line-height: 50px;
    padding-left: 30px;

}

ul li a {

    display: block;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: silver;
    padding: 0 15px;

}

ul li a:hover {
    color: maroon;
}

body p{
    padding-left: 35px;
    padding-right: 35px;
}

li{
    padding-left: 45px;
    padding-right: 45px;
}